# Fusion configuration

# Specify which services should be run within the Fusion instance
[mdns]
active = true
config = mdns.conf
prefix = [mdns]
file = logs/mdns_fusion_%d_%m_%Y.log

[account]
active = true
config = account.conf
prefix = [account]
file = logs/fusion_account_%d_%m_%Y.log

[character]
active = true
config = character.conf
prefix = [character]
file = logs/fusion_character_%d_%m_%Y.log

[login]
active = true
config = login.conf
prefix = [login]
file = logs/fusion_login_%d_%m_%Y.log

[realm]
active = true
config = realm.conf
prefix = [realm]
file = logs/fusion_realm_%d_%m_%Y.log

[world]
active = true
config = world.conf
prefix = [world]
file = logs/fusion_world_%d_%m_%Y.log

[remote_log]
service_name = fusion
verbosity = none # trace, debug, info, warning, error, fatal or none to disable
host = localhost
port = 514

[file_log]
verbosity = none  # trace, debug, info, warning, error, fatal or none to disable
path = logs/fusion_%d_%m_%Y.log
midnight_rotate = 0
mode = append     # if an existing log is found, you can either 'append' to it or 'truncate' it
size_rotate = 0   # max log size in megabytes - 0 disables
log_timestamp = 0 # enable/disable timestamping log records
timestamp_format = [%d/%m/%Y %H:%M:%S] 
log_severity = 1  # enable/disable writing severity to log records

[console_log]
enable_input = true # allows for commands to be executed on the console
suggestions = true  # enables tab completion suggestions (only applicable when input enabled)
verbosity = trace   # trace, debug, info, warning, error, fatal or none to disable
colours = true      # colourise the output
prefix = [fusion]