# Realm gateway configuration

[realm]
id = 1                   # ID of this realm in the database
max_slots = 5000         # Max number of clients to allow before queueing
reserved_slots = 5       # Slots reserved for admins

[dbc]
path = dbcs/

# quirks is for emulating potentially undesirable behaviour of a real server
[quirks]
list_zone_hide = true # hide zone info for characters that have not been logged into

[misc]
#concurrency = 8 # comment out to allow the server to decide (recommended)

[network]
interface = 0.0.0.0 # IPv4 or IPv6 bind interface - use 0.0.0.0 for all IPv4 interfaces
port = 8085 # Port for the server to listen to client connections on
compression = 0 # Range [0-9] with 0 disabling compression
tcp_no_delay = true # Toggle Nagle's algorithm

[spark]
address = 127.0.0.1
port = 6002

[nds]
port = 6010

# Enabling STUN will allow the server to auto-detect its IP address
# Disable if you want the server to be strictly local-only
# If disabled, the IP is read from the database entry for this realm ID
[stun]
enabled = true
server = stunserver2024.stunprotocol.org
port = 3479

# Auto port forwarding configuration
# This is only functional if STUN is also enabled and detects a NAT gateway
[forward]
enabled = true
method = upnp       # auto, upnp, or natpmp
gateway = 0.0.0.0   # only used for auto or natpmp

[database]
config_path = mysql_config.conf

[remote_log]
service_name = gateway
verbosity = none # trace, debug, info, warning, error, fatal or none to disable
host = localhost
port = 514

[file_log]
verbosity = none  # trace, debug, info, warning, error, fatal or none to disable
path = logs/gateway_%d_%m_%Y.log
midnight_rotate = 0
mode = append     # if an existing log is found, you can either 'append' to it or 'truncate' it
size_rotate = 0   # max log size in megabytes - 0 disables
log_timestamp = 0 # enable/disable timestamping log records
timestamp_format = [%d/%m/%Y %H:%M:%S] 
log_severity = 1  # enable/disable writing severity to log records

[console_log]
verbosity = trace # trace, debug, info, warning, error, fatal or none to disable
colours = true    # colourise the output

[metrics]
enabled = false
statsd_host = localhost
statsd_port = 8125

[monitor]
enabled = false
interface = 0.0.0.0
port = 3900